@model OuWebsiteTeam_RestaurantService.DBContext.PdbCategory

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}

<h2>List</h2>

<div>
    <h4>PdbCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HtmlIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HtmlIcon)
        </dd>

    </dl>
</div>

<div class="outer">
    <div class="inner bg-light lter">
        <!--End Datatables-->
        <div class="row">
            <!-- .col-lg-12 -->
            <div class="col-lg-12">
                <div class="box">
                    <header>
                        <h5>Quản lý danh mục</h5>
                        <div class="toolbar">
                            <div class="btn-group">
                                <a href="#stripedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a class="btn btn-danger btn-sm close-box">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </header>
                    <div id="stripedTable" class="body collapse in">
                        <table class="table table-striped sortableTable responsive-table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                        <i class="fa sort"></i>
                                    </th>
                                    <th>
                                        Tên danh mục
                                        <i class="fa sort"></i>
                                    </th>
                                    <th>
                                        Ảnh đại diện
                                        <i class="fa sort"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Hoa hồng</td>
                                    <td><img src="~/Data/flower/flower4.jpg" width="7%" height="30px" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Hoa mai</td>
                                    <td><img src="~/Data/flower/flower5.jpg" width="7%" height="30px" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Hoa vạn thọ</td>
                                    <td><img src="~/Data/flower/flower6.jpg" width="7%" height="30px" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Hoa đào</td>
                                    <td><img src="~/Data/flower/flower7.jpg" width="7%" height="30px" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- Row -->
    </div><!-- /.inner -->
</div><!-- /.outer -->

<div class="outer">
    <div class="inner bg-light lter">
        <!--End Datatables-->
        <div class="row">
            <!-- .col-lg-12 -->
            <div class="col-lg-12">
                <div class="box">
                    <header>
                        <h5>Quản lý danh mục</h5>
                        <div class="toolbar">
                            <div class="btn-group">
                                <a href="#stripedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a class="btn btn-danger btn-sm close-box">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                    </header>
                    <div id="stripedTable" class="body collapse in">
                        <table class="table table-striped sortableTable responsive-table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                        <i class="fa sort"></i>
                                    </th>
                                    <th>
                                        Tên danh mục
                                        <i class="fa sort"></i>
                                    </th>
                                    <th>
                                        Ảnh đại diện
                                        <i class="fa sort"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Hoa hồng</td>
                                    <td><img src="~/Data/flower/flower4.jpg" width="7%" height="30px" /></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Hoa mai</td>
                                    <td><img src="~/Data/flower/flower5.jpg" width="7%" height="30px" /></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Hoa vạn thọ</td>
                                    <td><img src="~/Data/flower/flower6.jpg" width="7%" height="30px" /></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Hoa đào</td>
                                    <td><img src="~/Data/flower/flower7.jpg" width="7%" height="30px" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- /.col-lg-12 -->
        </div><!-- Row -->
    </div><!-- /.inner -->
</div><!-- /.outer -->
