@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Metis</title>
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="/Content/assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/Content/assets/admin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Metis core stylesheet -->
    <link href="/Content/assets/admin/css/main.min.css" rel="stylesheet" />
    <!-- metisMenu stylesheet -->
    <link href="/Content/assets/admin/css/metisMenu.min.css" rel="stylesheet" />
    <link href="/Content/assets/admin/css/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/assets/admin/css/chosen.min.css" rel="stylesheet" />
    <link href="/Content/assets/admin/css/style-switcher.css" rel="stylesheet" />
    <link href="/Content/assets/admin/css/theme.css" rel="stylesheet" />
    <style>
        .table .glyphicon-sort{
            font-size:12px;
        }
        .table .glyphicon-trash {
            margin-left: 25%;
        }
    </style>
</head>
<body class=" ">
    <div class="bg-dark dk" id="wrap">
        <!-- Top -->
        <div id="top">
            <!-- .navbar -->
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <header class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="@Url.Action("Index","HomeRes")" class="navbar-brand">
                            <img src="~/Content/assets/admin/imgs/logo.png" />
                        </a>
                    </header>
                    <div class="topnav">
                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip" class="btn btn-default btn-sm" id="toggleFullScreen">
                                <!--<i class="glyphicon glyphicon-fullscreen"></i>-->
                                <span class="glyphicon glyphicon-fullscreen"></span>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="E-mail" data-toggle="tooltip" class="btn btn-default btn-sm">
                                <!--<i class="fa fa-envelope"></i>-->
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="label label-warning">5</span>
                            </a>
                            <a data-placement="bottom" data-original-title="Messages" href="#" data-toggle="tooltip" class="btn btn-default btn-sm">
                                <!--<i class="fa fa-comments"></i>-->
                                <span class="glyphicon glyphicon-comment"></span>
                                <span class="label label-danger">4</span>
                            </a>
                            <a data-toggle="modal" data-original-title="Help" data-placement="bottom" class="btn btn-default btn-sm" href="#helpModal">
                                <!--<i class="fa fa-question"></i>-->
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Show / Hide Left" data-toggle="tooltip" class="btn btn-primary btn-sm toggle-left" id="menu-toggle">
                                <!-- <i class="fa fa-bars"></i> -->
                                <span class="glyphicon glyphicon-list"></span>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="@Url.Action("Login","Login")" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" class="btn btn-metis-1 btn-sm">
                                <!--<i class="fa fa-power-off"></i>-->
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </div>                        
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">

                        <!-- .nav -->
                        <ul class="nav navbar-nav">
                            <li> <a href="@Url.Action("Index","Dashboard")">Dashboard</a>  </li>
                            @*<li> <a href="@Url.Action("","")">Tables</a>  </li>*@
                            <li> <a href="@Url.Action("Login","Login")">Login</a>  </li>
                            <li class='dropdown '>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Table
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="@Url.Action("List","Banner")">Banner</a>  </li>
                                    <li> <a href="@Url.Action("Add","RestaurantInfo")">Restaurant</a>  </li>
                                    @*<li> <a href="form-wysiwyg.html">WYSIWYG</a>  </li>
                                    <li> <a href="form-wizard.html">Wizard &amp; File Upload</a>  </li>*@
                                </ul>
                            </li>
                        </ul><!-- /.nav -->
                    </div>
                </div><!-- /.container-fluid -->
            </nav><!-- /.navbar -->
            <header class="head">
                <div class="search-bar">
                    <form class="main-search" action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Live Search ...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm text-muted" type="button">
                                    <!-- <i class="fa fa-search"></i>-->
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form><!-- /.main-search -->
                </div><!-- /.search-bar -->
                <div class="main-bar">
                    <h3>
                        <!--<i class="fa fa-home"></i>-->
                        <span class="glyphicon glyphicon-home"></span>
                        &nbsp; Metis
                    </h3>
                </div><!-- /.main-bar -->
            </header><!-- /.head -->
        </div><!-- /#top -->
        
        <!-- Left -->
        <div id="left">
            <div class="media user-media bg-dark dker">
                <div class="user-media-toggleHover">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <div class="user-wrapper bg-dark">
                    <a class="user-link" href="">
                        <img class="media-object img-thumbnail user-img" alt="User Picture" src="~/Content/assets/admin/imgs/user.gif">
                        <span class="label label-danger user-label">16</span>
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">Archie</h5>
                        <ul class="list-unstyled user-info">
                            <li> <a href="">Administrator</a>  </li>
                            <li>
                                Last Access :
                                <br>
                                <small>
                                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;16 Mar 16:32
                                </small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- #menu -->
            <ul id="menu" class="bg-blue dker">
                <li class="nav-header">Menu</li>
                <li class="nav-divider"></li>
                <li class="">
                    <a href="@Url.Action("Index" , "Dashboard")">
                        <!-- <i class="fa fa-dashboard"></i> -->
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="link-title">&nbsp; Dashboard</span>
                    </a>
                </li>                
                <li>
                    <a href="javascript:;">
                        <!-- <i class="fa fa-table"></i> -->
                        <span class="glyphicon glyphicon-list"></span>
                        <span class="link-title">&nbsp; Tables</span>
                        <span class="fa arrow"></span>
                        
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("List","Banner")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; Banner
                            </a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("List","Food")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; Food
                            </a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("Add","RestaurantInfo")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; Restaurant Info
                            </a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("Add","User")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; User
                            </a>
                        </li>*@
                        @*<li>
                            <a href="@Url.Action("List","Login")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; Login
                            </a>
                        </li>*@
                        @*<li>
                            <a href="@Url.Action("Test","Admin")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; Test
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Test1","Admin")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; Test1
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Test2","Admin")">
                                <span class="glyphicon glyphicon-flash"></span>&nbsp; Test2
                            </a>
                        </li>*@
                    </ul>
                </li>
                @*<li>
                    <a href="file.html">
                        <span class="glyphicon glyphicon-file"></span>
                        <span class="link-title">
                            &nbsp; File Manager
                        </span>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span class="link-title">
                            &nbsp; Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="chart.html">
                        <span class="glyphicon glyphicon-stats"></span>
                        <span class="link-title">
                            &nbsp; Charts
                        </span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="link-title">
                            &nbsp; Calendar
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="link-title">
                            &nbsp; Error Pages
                        </span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul>
                        <li>
                            <a href="403.html">
                                <i class="fa fa-angle-right"></i>&nbsp;403
                            </a>
                        </li>
                        <li>
                            <a href="404.html">
                                <i class="fa fa-angle-right"></i>&nbsp;404
                            </a>
                        </li>
                        <li>
                            <a href="405.html">
                                <i class="fa fa-angle-right"></i>&nbsp;405
                            </a>
                        </li>
                        <li>
                            <a href="500.html">
                                <i class="fa fa-angle-right"></i>&nbsp;500
                            </a>
                        </li>
                        <li>
                            <a href="503.html">
                                <i class="fa fa-angle-right"></i>&nbsp;503
                            </a>
                        </li>
                        <li>
                            <a href="offline.html">
                                <i class="fa fa-angle-right"></i>&nbsp;offline
                            </a>
                        </li>
                        <li>
                            <a href="countdown.html">
                                <i class="fa fa-angle-right"></i>&nbsp;Under Construction
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="blank.html">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <span class="link-title">
                            &nbsp; Blank Page
                        </span>
                    </a>
                </li>*@
                <li class="nav-divider"></li>
                <li>
                    <a href="@Url.Action("Login","Login")">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <span class="link-title">
                            Login Page
                        </span>
                    </a>
                </li>
            </ul><!-- /#menu -->
        </div><!-- /#left -->
        
        <!-- Content -->
        <div id="content">
            @RenderBody()
        </div><!-- Content -->  
    </div><!-- /#wrap -->

    <!-- Footer -->
    <footer class="Footer bg-dark dker">
        <p>2014 &copy; Metis Bootstrap Admin Template</p>
    </footer><!-- /#footer -->

    <!--jQuery 2.1.1 -->
    <script src="/Content/assets/admin/js/jquery.min.js"></script>
    <!-- less-1.7.5 -->
    <script src="/Content/assets/admin/js/less-1.7.5.min.js"></script>
    <!--Modernizr 2.8.2-->
    <script src="/Content/assets/admin/js/modernizr.min.js"></script>
    <!--Bootstrap -->
    <script src="/Content/assets/admin/js/bootstrap.min.js"></script>
    <!-- MetisMenu -->
    <script src="/Content/assets/admin/js/metisMenu.min.js"></script>
    <!-- Screenfull -->
    <script src="/Content/assets/admin/js/screenfull.js"></script>
    <!-- Form Upload Anh -->
    <script src="/Content/assets/admin/js/jquery.form.wizard.js"></script>
    <script src="/Content/assets/admin/js/jasny-bootstrap.min.js"></script>
    <!-- Form Select -->
    <script src="/Content/assets/admin/js/jquery.inputlimiter.js"></script>
    <script src="/Content/assets/admin/js/chosen.jquery.min.js"></script>
    <script src="/Content/assets/admin/js/jquery.autosize.min.js"></script>
    <script src="/Content/assets/admin/js/jquery.tagsinput.js"></script>
    <!-- Metis core scripts -->
    <script src="/Content/assets/admin/js/core.min.js"></script>
    <!-- Metis demo scripts -->
    <script src="/Content/assets/admin/js/app.min.js"></script>
    <!-- CKFinder -->
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckfinder/ckfinder.js"></script>    <!-- Sort Table -->
    <script src="~/Content/assets/admin/js/jquery.tablesorter.min.js"></script>
    <script src="~/Content/assets/admin/js/jquery.ui.touch-punch.min.js"></script>
    <script>
        $(function () {
            Metis.MetisTable();
            Metis.metisSortable();
        });
    </script>

    @RenderSection("jsFooter", required: false)
</body>
</html>
