@model OuWebsiteTeam_RestaurantService.DBContext.PdbBanner

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}

@section jsFooter{
    <script>
        CKEDITOR.replace("txtLink");
        CKFinder.setupCKEditor(null, '/ckfinder');
        $('#btnSelectedImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();            
            finder.selectActionFunction(function (url) {
                $('#txtImage').val(url);
            });
            finder.popup();
        })
    </script>
}
<div class="outer">
    <div class="inner bg-light lter">
        <!--BEGIN INPUT TEXT FIELDS-->
        <div class="row">
            <div class="col-lg-9">
                <div class="box dark">
                    <header>
                        <div class="icons">
                            <i class="fa fa-edit"></i>
                        </div>
                        <h5>Input Text Fields</h5>
                        <!-- .toolbar -->
                        <div class="toolbar">
                            <nav style="padding: 8px;">
                                <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                    <i class="fa fa-minus"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                    <i class="fa fa-times"></i>
                                </a>
                            </nav>
                        </div>
                        <!-- /.toolbar -->
                    </header>
                    <div id="div-1" class="body">
                        @using (Html.BeginForm())
                        { @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>PdbBanner</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <!-- Image -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.ImageName, new { htmlAttributes = new { @class = "form-control" }, @id = "txtImage" })
                                        <a id="btnSelectedImage" href="#">Chọn ảnh</a>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                            <div>
                                                <span class="btn btn-default btn-file">
                                                    <span class="fileinput-new">Select image</span> <span class="fileinput-exists">Change</span>
                                                    <input type="file" name="...">
                                                </span>
                                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- Type -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="chosen-container chosen-container-single" style="width: 100%;" title="">
                                            <select class="chosen-single chosen-default form-control chzn-select">
                                                <option>Type...</option>
                                                <option value="Admin">Type 1</option>
                                                <option value="Senior">Type 2</option>
                                                <option value="Junior">Type 3</option>
                                                <option value="Staff">Type 4</option>
                                            </select>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- Link -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" }, @id = "txtLink" })
                                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- Add Button -->
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Add" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!--END TEXT INPUT FIELD-->
    </div>
    <!-- /.inner -->
</div>
<!-- /.outer -->
