@model IEnumerable<OuWebsiteTeam_RestaurantService.DBContext.PdbMeterial>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}

<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            <div class="row">
                <!-- Table -->
                <div class="col-md-12">
                    <div class="box">
                        <header>
                            <h5>Table</h5>
                        </header>
                        <p>
                            @Html.ActionLink("Create New", "Create")
                        </p>
                        <div id="sortableTable" class="body collapse in">
                            <table class="table table-bordered sortableTable responsive-table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Origin)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Descriptions)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Type)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Origin)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descriptions)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.inner -->
    </div><!-- /.outer -->
</div><!-- /#content -->
